<div class='row'>
  <div class='col-xs-10 col-xs-offset-1'>
    <div id='date-slider'></div>
  </div>
  <button type='button' id='slider-go-button'
          class='btn btn-primary btn-xs'
          style='margin-left: 20px; margin-top: 40px;'>Go</button>
</div>
<br>
<div class='row'>
  <div class='col-lg-12 col-lg-offset-0
              col-md-12 col-md-offset-0
              col-sm-12 col-sm-offset-0
              col-xs-12 col-xs-offset-0'>
    <input class='form-control search' type='search' data-column='all'
           id='activity_table_search' placeholder='Search'>
    <table class='tablesorter' id='activity_table'>
      <thead>
	<tr>
	  <th>Name</th>
	  <th>Profile</th>
	  <th>Pid</th>
	  <th>Creator</th>
	  <th>Portal</th>
	  <th>Clusters</th>
	  <th>PCs</th>
	  <th>PHours</th>
	  <th>VMs</th>
	  <th>Started</th>
	  <th>Destroyed</th>
	  <th class='filter-false sorter-false'>View</th>
	</tr>
	<tr>
          <th class='filter-false sorter-false'>Totals</th>
	  <th class='filter-false sorter-false' colspan=5></th>
          <th class='filter-false sorter-false' data-math='col-sum'>0</th>
          <th class='filter-false sorter-false' data-math='col-sum'
	      data-math-mask='##0'>0</th>
          <th class='filter-false sorter-false' data-math='col-sum'>0</th>
	  <th class='filter-false sorter-false' data-math='col-count'>0</th>
	  <th class='filter-false sorter-false'></th>
	  <th class='filter-false sorter-false'></th>
	</tr>
      </thead>
      <tfoot>
	<tr>
          <th class='filter-false sorter-false'>Totals</th>
	  <th class='filter-false sorter-false' colspan=5></th>
          <th class='filter-false sorter-false' data-math='col-sum'>0</th>
          <th class='filter-false sorter-false' data-math='col-sum'
	      data-math-mask='##0'>0</th>
          <th class='filter-false sorter-false' data-math='col-sum'>0</th>
	  <th class='filter-false sorter-false' data-math='col-count'>0</th>
	  <th class='filter-false sorter-false'></th>
	  <th class='filter-false sorter-false'></th>
	</tr>
      </tfoot>
      <tbody>
	<% _.each(instances, function(instance) { %>
	<tr>
	  <td><%- instance[9] %></a></td>
	  <td>
	    <a href='show-profile.php?action=edit&uuid=<%- instance[2] %>'>
	      <%- instance[0] %></a>
	  </td>
	  <td>
	    <a href='show-project.php?project=<%- instance[1] %>'>
	      <%- instance[1] %></a>
	  </td>
	  <td>
	    <a href='user-dashboard.php?user=<%- instance[5] %>'>
	      <%- instance[5] %></a>
	  </td>
	  <td><%- instance[12] %></td>
	  <td><%- instance[13] %></td>
	  <td><%- instance[3] %></td>
	  <td><%- instance[8] %></td>
	  <td><%- instance[4] %></td>
	  <td class='format-date'><%- instance[6] %></td>
	  <td class='format-date'><%- instance[7] %></td>
	  <td>
	    <a href='memlane.php?uuid=<%- instance[10] %>' target="_blank">
	      <span class="glyphicon glyphicon-eye-open"></span></a>
	  </td>
	</tr>
	<% }); %>
      </tbody>
    </table>
  </div>
</div>


