<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .table-dashboard {
     margin: 1px;
 }
 .popover, .popover-content {
     width:auto !important;
     max-width: 700 !important;
     min-width: 450 !important;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
 .panel-heading-list {
     padding: 2px;
 }
</style>
<div class='col-lg-12 col-lg-offset-0
	    col-md-12 col-md-offset-0
	    col-sm-12 col-sm-offset-0
	    col-xs-12 col-xs-offset-0'>
  <div class='panel panel-default'>
    <div class="panel-heading panel-heading-list">
      <h5>
	<center>Classic Emulab Images</center>
      </h5>
    </div>
    <div class='panel-body panel-body-dashboard'>
      <div>
	<input class='form-control search' type='search'
	       data-column='0,1,3'
	       id='classic-images-search' placeholder='Search'>
      </div>
      <div class="table-responsive">
	<table class='tablesorter' id='classic-images-table'>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Project</th>
	      <th>Created</th>
	      <th class="sorter-false">Description</th>
	      <% if (showformat) { %>
		<th>Format</th>
	      <% } %>
	      <th class="sorter-false">URN</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(images, function(value, index) { %>
	      <tr>
		<td><a href="<%- value.url %>" target="_blank">
		  <%= value.imagename %></a></td>
		<td><a href='show-project.php?pid=<%- value.pid_idx %>'>
		  <%= value.pid %></a></td>
		<td class="format-date"><%- value.created %></td>
		<td><%- value.description %></td>
		<% if (showformat) { %>
		  <td><%- value.format %></td>
		<% } %>
		<td align="center">
		  <a href="#" 
		     data-toggle='popover'
		     data-html='true'
		     data-trigger='click'
		     data-title="URN for your geni-lib script or RSpec"
		     data-content="<input type=text readonly=readonly
				   class=form-control
				   onClick='this.select();'
				   value='<%- value.urn %>'>">
		    <span class="glyphicon glyphicon-link"></span>
		  </a>
		</td>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
