<!-- This is the imaging modal -->
<div id='imaging-modal' class='modal fade'
     <% if (nokeyboard === true) { %>data-keyboard='false' data-backdrop='static'<% } %> >
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4><center>Please wait while we make your disk image</center></h4>
      </div>
      <div class='row'>
	<div class='col-sm-10  col-sm-offset-1'>
	  <ol class='progtrckr'
	      data-progtrckr-steps=<% if (needcopy)
				   { %>5<% } else { %>4<% }%> >
            <li class='progtrckr-done'>Preparing</li>
            <li class='progtrckr-todo' id='tracker-imaging'>Imaging</li>
            <li class='progtrckr-todo' id='tracker-finishing'>Finishing</li>
	    <% if (needcopy) { %>
              <li class='progtrckr-todo' id='tracker-copying'>Copying</li>
	    <% } %>
            <li class='progtrckr-todo' id='tracker-ready'>Ready</li>
	  </ol>
	  <br>
          <table class='table table-condensed' style='border: none;'>
            <tr>
              <td>Node Status</td>
              <td id='imaging_modal_node_status'></td>
	    </tr>
	    <tr>
              <td>Image Size</td>
              <td id='imaging_modal_image_size'></td>
	    </tr>
	  </table>
	  <center>
	    <img id='imaging-spinner' src='images/spinner.gif' />
	  </center>
	  <div id='imaging_modal_done_div' class='hidden'>
	    Your new image name (or url) is below. If your profile is a
	    geni-lib python script, you will need to edit your profile to
	    change any nodes that should use this new image.
	    <br>
	    <br>
	    <center>
	      <b><span id='imaging-modal-imagename'></span></b>
	    </center>
	    <br>
	  </div>
	  <center>
            <button type='button' id='imaging-close'
                    class='btn btn-default btn-sm hidden' 
                    data-dismiss='modal'>
	      Close</button>
	  </center>
	  <br>
	</div>
      </div>
    </div>
  </div>
</div>
<div id='imaging-done-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h4><center>Your new image is ready!</center></h4>
      </div>
      <div class='modal-body'>
	  Your new image name (or url) is below. If your profile is a
	  geni-lib python script, you will need to edit your profile to
	  change any nodes that should use this new image.
	  <br>
	  <br>
	  <center>
	  <b><span id='imaging-done-modal-imagename'></span></b>
	  <br>
	  <br>
          <button type='button' id='imaging-done-modal-close'
                  class='btn btn-default btn-sm' 
                  data-dismiss='modal'>
            Close</button>
	</center>
      </div>
    </div>
  </div>
</div>
