<style>
 .panel-body-dashboard {
     padding: 2px;
 }
 .table-dashboard {
     margin: 1px;
 }
 .popover{
     max-width: 800px;
 }
 .fixedsize-panel {
     max-height:350px;
     height:350px;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 2px;
 }
 .panel-heading-list {
     padding: 2px;
 }
 .tablesorter-green th.sorter-false .tablesorter-header-inner {
     padding-left: 4px;
 }
</style>
<div>
  <div id='spinner'>
    <center id='spinner'><img src='images/spinner.gif' /></center><br>
  </div>
  <div id='noreservations' class=hidden>
    You do not have any reservations. Would you like to
    <a href='reserve.php'>create</a> one?
  </div>
  <% _.each(amlist, function(urn, name) { %>
    <div class="row hidden" id="<%- name %>">
      <div class='col-sm-12 col-sm-offset-0'>
	<div class='panel panel-default'>
	  <div class="panel-heading panel-heading-list">
	    <h5>
	      <center><%- name %> Reservations</center>
	    </h5>
	  </div>
	  <div class='panel-body panel-body-dashboard'>
	    <div class="text-center text-danger hidden res-error"></div>
	  </div>
	</div>
      </div>
    </div>
  <% }); %>
</div>
<div id='deny-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Deny Reservation</h4>
	  Message to send to user
	  <div>
	    <textarea id='deny-reason'
		      class='form-control'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm'
		  id='confirm-deny'>Confirm</a>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='approve-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Approve Reservation</h4>
	  Additional text to send with approval (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm'
		  id='confirm-approve'>Confirm</a>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='info-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Send Message</h4>
	  <span class="hidden nomessage-error text-danger">Give me Text!</span>
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <br>
          <button class='btn btn-danger btn-sm confirm-button'>Confirm</button>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='warn-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Send Warning Message</h4>
	  Additional text to send with warning (no text is okay):
	  <div>
	    <textarea class='form-control user-message'
		      rows=5></textarea>
	  </div>
	  <input type=checkbox id='schedule-cancellation' value=yes>
	  Cancel reservation in 24 hours?
	  <div style="margin-top:10px;">
            <button class='btn btn-danger btn-sm confirm-button'>Confirm</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
<div id='cancel-cancel-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <center><h4>Confirm to Cancel Cancellation</h4>
	  <div style="margin-top:10px;">
            <button id="confirm-cancel-cancel-button"
		    class='btn btn-danger btn-sm confirm-button'>
	      Confirm</button>
	  </div>
	</center>
      </div>
    </div>
  </div>
</div>
<div class='modal fade' id="resusage-graph-modal">
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
	<div class='panel panel-default'>
	  <div class="panel-heading panel-heading-list">
            <button type='button' class='close' data-dismiss='modal'
                    aria-hidden='true'>&times;</button>
	    <center>
	      <h5>Reservation Usage
		<span class="resusage-graph-details"></span></h5>
	    </center>
	  </div>
	  <div class='panel-body panel-body-dashboard'>
	    <svg style="height: 75%; padding: 0px;"></svg>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div id="resusage-modals"></div>
<div id='waitwait_div'></div>
<div id='oops_div'></div>
<div id='confirm_div'></div>
