<div class='row'>
  <div class='col-lg-6  col-lg-offset-3
       col-md-8 col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h3 class='panel-title'>My Account</h3>
      </div>
      <div class='panel-body'>
	<span id="general_error" style="color:red;"></span>
	<form id='myaccount_form'
              role='form'
              enctype='multipart/form-data'
	      method='post' action='myaccount.php'>
	  <input type='hidden' name='uid' value='<%- formfields.uid %>'>
	  <%= verify_modal %>
	  <fieldset>
	    <div class="form-group">
	      <input name="ignore" value="<%- formfields.uid %>"
		     class="form-control format-me"
		     data-key="uid"
		     data-label="Username"
		     readonly type="text">
	    </div>
	    <div class="form-group">
	      <input name="name" value="<%- formfields.name %>"
		     class="form-control format-me" data-key="name"
		     placeholder="Alpha Numeric, no spaces"
		     data-label="Full Name"
		     type="text">
	    </div>
	    <div class="form-group">
	      <input name="email" value="<%- formfields.email %>"
		     class="form-control format-me"
		     data-key="email"
		     data-label="Email"
		     placeholder="Email" type="text">
	    </div>
	    <div class="form-group">
	      <input name="affiliation" value="<%- formfields.affiliation %>"
		     class="form-control format-me"
		     data-key="affiliation"
		     data-label="Institutional Affiliation"
		     placeholder="Institutional Affiliation" type="text">
	    </div>
	    <div class="form-group">
	      <select id="signup_countries" name="country"
		      class="form-control format-me bfh-countries"
		      data-country="<%- formfields.country %>"
		      data-placeholder="Country"
		      data-label="Country"
		      data-blank="false" data-ask="true" data-key="country">
	      </select>
	    </div>
	    <div class="form-group">
	      <select  id="signup_states" name="state"
		       class="form-control format-me bfh-states"
		       data-state="<%- formfields.state %>"
		       data-country="signup_countries" data-ask="true"
		       data-placeholder="State" data-blank="false"
		       data-label="State"
		       data-key="state">
	      </select>
	    </div>
	    <div class="form-group">
	      <input name="city" value="<%- formfields.city %>"
		     class="form-control format-me"
		     data-key="city"
		     data-label="City"
		     placeholder="City"
		     type="text">
	      
	    </div>
            <button class='btn btn-primary btn-sm pull-right'
		    style="margin-top: 15px;"
		    id='submit_button' disabled
		    type='submit' name='modify'>Save</button>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
</div>
