<div id='profile-list-modal' class='modal fade'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close' data-dismiss='modal'
                aria-hidden='true'>&times;</button>
        <div class='clearfix'></div>
	<div style="margin-bottom: 10px;">
	  <b>Warning:</b> This profile has the following images
	  associated with it:
	</div>
	<div class="col-xs-offset-2">
	  <ul style="list-style: none;">
	    <% _.each(images, function(profiles, imagename) { %>
	      <li><%- imagename %></li>
	    <% }); %>
	  </ul>
	</div>
	<div <% if (noprofiles) { %>class="hidden"<% } %>>
	  The following profiles are using one or more of the images listed
	  above:
	  <div class="table-responsive">
	    <table class='table table-condensed' style="margin-bottom: 10px;">
	      <thead>
		<tr>
		  <th>Name</th>
		  <th>Version</th>
		  <th>Creator</th>
		  <th>Project</th>
		  <th>Created</th>
		</tr>
	      </thead>
	      <tbody>
		<% _.each(images, function(profiles, imagename) { %>
		  <% _.each(profiles, function(value, name) { %>
		    <tr>
		      <td><%= value.name %></td>
		      <td>
			<a href="show-profile.php?uuid=<%- value.uuid %>"
			   target="_blank"><%- value.version %></a>
		      </td>
		      <td><%= value.creator %></td>
		      <td><%= value.project %></td>
		      <td class="format-date" style='white-space: nowrap;'>
			<%- value.created %></td>
		    </tr>
		  <% }); %>
		<% }); %>
	      </tbody>
	    </table>
	    <div style="margin-bottom: 10px;">
	      Deleting this profile (and thus the images associated with
	      it) would cause the profiles above to no longer work since
	      the images would be gone. Instead, you can delete this
	      profile but leave the image(s) behind so that the profiles
	      above continue to work. You can still delete the image at a
	      later time, on the
	      <a href="list-images.php">image management page.</a>
	    </div>
	  </div>
	</div>
	<div style="margin-bottom: 10px;"
	     <% if (!noprofiles) { %>class="hidden"<% } %>>
	  Deleting this profile will result in the images above being
	  deleted. Instead, you can delete this profile but leave the
	  image(s), although we do not recommend this. You can still
	  delete the image(s) at a later time, on the
	  <a href="list-images.php">image management page.</a>
	</div>
	<center style="margin-bottom: 10px;">
	  <input id='keep-profile-images' value='checked'
		 type='checkbox'>
	  Delete profile but keep the image(s).
	</center>
        <center>
          <button class='btn btn-danger btn-sm'
		  style='margin-right: 10px;'
		  id='confirm-force-delete'>Confirm</button>
	  <button class='btn btn-default btn-sm'
		  data-dismiss='modal'
                  type='button'>Cancel</button>
	</center>
      </div>
    </div>
  </div>
</div>
