<div>
  <div class='panel panel-default'>
    <div class="panel-heading">
      <h3 class="panel-title">
	<center><%- details.nickname %></center></h3>
    </div>
    <div class='panel-body counts-size'>
      <div class='resgraph-spinner'>
	<center>
	  <img src='images/spinner.gif' /></center>
      </div>
      <table class='tablesorter-green hidden'>
	<thead>
	  <tr>
	    <th>Type</th>
	    <th>Free
	      <a href='#' class='btn btn-xs'
		 data-toggle='tooltip'
		 data-container="body"
		 data-trigger="hover"
		 title='Number of nodes that are immediately available for
			use in an experiment.'
		 style="margin-bottom: 3px;
			padding-left: 0px;
			padding-right: 0px;">
		<span class='glyphicon glyphicon-question-sign'></span></a></th>
	  </tr>
	</thead>
	<tbody>
	</tbody>
      </table>
    </div>
  </div>
</div>


