/*
.navbar-brand > img {
  border: 5px solid #708238;
  border-radius: 35px;
}
*/

body {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #222;
    background-color: #fff;
}


.navbar-nav > li > a.admin-toggle {
  margin-top: 15px;
}

.portal-navbar {
  margin-bottom: 25px;
}

.navbar {
  background-color: #a2d2df;
}

.navbar-inner {
  background-color: #a2d2df;
}

#footer {
  background-color: #a2d2df;
  color: #222;
}

#footer a {
  color: #222;
}

.btn-success {
  background-color: #56b770;
  border-color:     #237f23;
}
.btn-primary {
  background-color: #469592;
  border-color:     #2a7e99;
}
.btn-info {
  background-color: #488998;
  border-color:     #2a5899;
}
.btn-warning {
  background-color: #f5b473;
  border-color:     #766520;
}
.btn-danger {
  background-color: #f5b473;
  border-color:     #882525;

}

/* Copied from quickvm.css */
.navbar-brand > img {
  top: 0px;
}

.nav > li > a.btn-quickvm-home,
.nav > li > a.btn-quickvm-home:hover,
.nav > li > a.btn-quickvm-home:focus,
.nav > li > a.btn-quickvm-home.dropdown-toggle,
.nav > li > a.btn-quickvm-home.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-home.dropdown-toggle:focus,
.nav > li > a.btn-quickvm-signup,
.nav > li > a.btn-quickvm-signup:hover,
.nav > li > a.btn-quickvm-signup:focus,
.nav > li > a.btn-quickvm-signup.dropdown-toggle,
.nav > li > a.btn-quickvm-signup.dropdown-toggle:hover,
.nav > li > a.btn-quickvm-signup.dropdown-toggle:focus {
  font-weight: normal;
  color: #222;
}

